# Dependencies
node_modules

# Nuxt build output
.nuxt
.output
dist

# Environment variables
.env

# SQLite Database
*.db
*.db-journal
sqlite.db

# Uploaded files
public/uploads/videos/*
!public/uploads/videos/.gitkeep
public/uploads/thumbnails/*
!public/uploads/thumbnails/.gitkeep

# IDE & System files
.vscode
.idea
*.log
.DS_Store
Thumbs.db
